.title-bar {
  text-align: center;
  color: yellowgreen;
}

.main {
  border: 5px dotted darkgreen;
  width: 50%;
  margin: auto;
  padding: 2%;
  background-color: mintcream;
}

.text {
  text-align: center;
  color: brown;
}

.button {
  color: pink;
}
